process {
 
  // Global cluster parameters
  cpus = { check_max( 1 * task.attempt, 'cpus' ) }
  memory = { check_max( 8.GB * task.attempt, 'memory' ) }
  time = { check_max( 2.h * task.attempt, 'time' ) }

  errorStrategy = { task.exitStatus in [143,137,140,7] ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'
 
  executor = "slurm"

  // software dependencies moved to conda.config

  withLabel: 'dragen' {
	queue = "dragen"
	container = false
  }
  withLabel: multiqc {
	container = "docker://quay.io/biocontainers/multiqc:1.13a--pyhdfd78af_1"
  }
  withLabel: expansion_hunter {
        container = "docker://quay.io/biocontainers/expansionhunter:4.0.2--he785bd8_0"
  }
  withLabel: 'vep' {
	container = "docker://quay.io/biocontainers/ensembl-vep:99.2--pl526hecc5488_0"
  }	
  withLabel: 'default' {
	queue = "htc"
	container = "docker://ikmb/dragen-variant-calling:1.0"
  }
  withLabel: 'gatk' {
	container = "docker://broadinstitute/gatk:4.1.8.1"
  }
  withLabel: 'mosdepth' {
	container = "docker://quay.io/biocontainers/mosdepth:0.3.2--h01d7912_0"
  } 
  withLabel: 'whatshap' {
	container = "docker://quay.io/biocontainers/whatshap:1.1--py36hae55d0a_1"
        time = { check_max( 12.h * task.attempt, 'time' ) }
  }
  withName: 'make_gvcf|make_vcf' {
	memory = { check_max( 250.GB * task.attempt, 'memory' ) }
        time = { check_max( 2.h * task.attempt, 'time' ) }
        cpus = 48
  }  
  withName: joint_call {
	memory = { check_max( 250.GB * task.attempt, 'memory' ) }
        time = { check_max( 4.h * task.attempt, 'time' ) }
        cpus = 48
  }
  withName: vep {
	memory = { check_max( 16.GB * task.attempt, 'memory' ) }
        time = { check_max( 48.h * task.attempt, 'time' ) }
        cpus = params.max_cpus
  }


}

	

