//

process {
 
  // Global cluster parameters
  cpus = { check_max( 1 * task.attempt, 'cpus' ) }
  memory = { check_max( 8.GB * task.attempt, 'memory' ) }
  time = { check_max( 2.h * task.attempt, 'time' ) }

  errorStrategy = { task.exitStatus in [143,137,140,7] ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'
 
  executor = "slurm"

  // software dependencies moved to conda.config

  withLabel: 'dragen' {
	queue = "dragen"
  }

  withLabel: 'default' {
	queue = "htc"
  }
 
  withName: make_gvcf {
	memory = { check_max( 32.GB * task.attempt, 'memory' ) }
        time = { check_max( 1.h * task.attempt, 'time' ) }
        cpus = 48
  }  

  withName: merge_gvcfs {
	memory = { check_max( 32.GB * task.attempt, 'memory' ) }
        time = { check_max( 24.h * task.attempt, 'time' ) }
        cpus = 48
  }

  withName: joint_call {
	memory = { check_max( 32.GB * task.attempt, 'memory' ) }
        time = { check_max( 48.h * task.attempt, 'time' ) }
        cpus = 48
  }

}

	
params {
  // Defaults only, expecting to be overwritten
  max_memory = 250.GB
  max_cpus = 24
  max_time = 240.h
  maxMultiqcEmailFileSize = 25.MB
}


