// site-specific config file

params {
  genomes {
    'hg19' {
      dragenidx = "/staging/human/reference/hg19/"
      dbsnp = "/work_ifs/ikmb_repository/references/gatk/v2/hg19/dbsnp_138.hg19.vcf.gz"
    }
    'hg38' {
       dragenidx = "/staging/human/reference/hg38/"
       dbsnp = "/work_ifs/ikmb_repository/references/gatk/v2/hg38_no_alt/dbsnp_146.hg38.vcf.gz"
     }
  }	
}

singularity {
 enabled = true
 runOptions = "-B /work_ifs -B /mnt -B /scratch"
 cacheDir = "/work_ifs/ikmb_repository/singularity_cache"
}

