// site-specific config file

params {

	genomes {
		'hg19' {
			dragenidx = "/staging/human/reference/hg19/"
			dbsnp = "/work_ifs/ikmb_repository/references/gatk/v2/hg19/dbsnp_138.hg19.vcf.gz"
		}
		'hg38' {
			dragenidx = "/staging/human/reference/hg38/"
			dbsnp = "/work_ifs/ikmb_repository/references/gatk/v2/hg38_no_alt/dbsnp_146.hg38.vcf.gz"
		}	
	}	

	vep_cache_dir = "/work_ifs/ikmb_repository/databases/EnsEMBL/vep/cache"
        vep_plugin_dir = "/work_ifs/ikmb_repository/databases/EnsEMBL/vep/plugins/99"
        dbnsfp_db = "/work_ifs/ikmb_repository/references/dbnsfp/4.1/dbNSFP4.1a.gz"
        dbscsnv_db = "/work_ifs/ikmb_repository/references/dbscSNV/1.1/dbscSNV1.1_GRCh38.txt.gz"
        cadd_snps = "/work_ifs/ikmb_repository/references/cadd/1.6/hg38/whole_genome_SNVs.tsv.gz"
        cadd_indels = "/work_ifs/ikmb_repository/references/cadd/1.6/hg38/gnomad.genomes.r3.0.indel.tsv.gz"
	vep_mastermind = "/work_ifs/ikmb_repository/databases/Mastermind/mastermind_cited_variants_reference-2021.10.12-grch38.vcf.gz"
        spliceai_fields = "snv=/work_ifs/ikmb_repository/references/spliceai/spliceai_scores.raw.snv.hg38.vcf.gz,indel=/work_ifs/ikmb_repository/references/spliceai/spliceai_scores.raw.indel.hg38.vcf.gz,cutoff=0.5"

	max_memory = 250.GB
        max_cpus = 20
        max_time = 240.h
        maxMultiqcEmailFileSize = 25.MB
}

singularity {
 enabled = true
 runOptions = "-B /work_ifs -B /mnt -B /scratch"
 cacheDir = "/work_ifs/ikmb_repository/singularity_cache"
}

