params {

    dragen_ref_dir  = params.genomes[params.assembly].dragenidx
    ref             = params.genomes[params.assembly].fasta
    dbsnp           = params.genomes[params.assembly].dbsnp

}

params.exome ? params.out_format = "bam" : params.out_format = "cram"
params.exome ? params.out_index = "bai" : params.out_index = "crai"

params.expansion_hunter ? params.expansion_json = params.genomes[params.assembly].expansion_catalog : params.expansion_json = null
