params {
   genomes {
        'hg19' {
                fasta = "/work_ifs/ikmb_repository/references/dragen/hg19/hg19.fa"
		bed = "${baseDir}/assets/kits/hg19/wgs_calling_regions.hg19.bed"
		expansion_catalog = "/opt/edico/repeat-specs/hg19/variant_catalog.json"
                kits {
                        'Nextera' {
                                targets = "${baseDir}/assets/kits/hg19/nextera/nexterarapidcapture_exome_target_v1.2_hg19.interval_list"
                                baits = "${baseDir}/assets/kits/hg19/nextera/nexterarapidcapture_exome_intervals_v1.2_hg19.interval_list"
				bed = "${baseDir}/assets/kits/hg19/nextera/nexterarapidcapture_exome_target_v1.2_hg19.bed"
                        }
			'xGen_v2' {
				bed = "${baseDir}/assets/kits/hg19/idt_xgen_v2/xgen-exome-research-panel-v2-targets-hg19.bed"
                                targets = "${baseDir}/assets/kits/hg19/idt_xgen_v2/xgen-exome-research-panel-v2-targets-hg19.interval_list"
                                baits = "${baseDir}/assets/kits/hg19/idt_xgen_v2/xgen-exome-research-panel-v2-probes-hg19.interval_list"
                        }
			'Pan_cancer' {
				targets = "${baseDir}/assets/kits/hg19/pan_cancer/xgen-pan-cancer-targets.interval_list"
				baits = "${baseDir}/assets/kits/hg19/pan_cancer/xgen-pan-cancer-probes.interval_list"
				bed = "${baseDir}/assets/kits/hg19/pan_cancer/xgen-pan-cancer-targets.bed"
			}
                }
		panels {
			'cardio_dilatative_2021' {
		                 list = "${baseDir}/assets/panels/gene_lists/cardio_dcm_2021.txt"
                		 description = "Dilatative_Kardiomyopathie_2021"
	                	 bed = "${baseDir}/assets/panels/hg38/cardio_dcm_2021.hg38.bed"
	        	         intervals = "${baseDir}/assets/panels/hg38/cardio_dcm_2021.hg38.interval_list"
		         }
		}
        }
	'hg38' {
		fasta = "/work_ifs/ikmb_repository/references/dragen/hg38/hg38.fa"		
		bed = "${baseDir}/assets/kits/hg38/wgs_calling_regions.hg38.bed"
		expansion_catalog = "/opt/edico/repeat-specs/hg38/variant_catalog.json"
		qc_bed = "${baseDir}/assets/qc/hg38/snps.bed"
		
		panels {
			'stoffwechsel_komplett_exome_2022_v1' {
				list = "${baseDir}/assets/panels/gene_lists/stoffwechsel_komplett_exome_2022_v1.txt"
				description = "Stoffwechsel_komplett_exome_2022_v1"
				bed = "${baseDir}/assets/panels/hg38/stoffwechsel_komplett_exome_2022_v1.bed"
				intervals = "${baseDir}/assets/panels/hg38/stoffwechsel_komplett_exome_2022_v1.interval_list"
			}
			'immundef_agg_exom_2022' {
				list = "${baseDir}/assets/panels/gene_lists/Immundef_AGG_Exom_2022_v1_genes.txt"
				description = "Immundef_AGG_Exom_2022_v1"
				bed = "${baseDir}/assets/panels/hg38/Immundef_AGG_Exom_2022_v1_genes.bed"
				intervals = "${baseDir}/assets/panels/hg38/Immundef_AGG_Exom_2022_v1_genes.interval_list"
			}
			'immundef_eoibd_exom_2022' {
				list = "${baseDir}/assets/panels/gene_lists/Immundef_eoIBD_Exom_2022_genes.txt"
                                description = "Immundef_eoIBD_Exom_2022_v1"
                                bed = "${baseDir}/assets/panels/hg38/Immundef_eoIBD_Exom_2022_v1_genes.bed"
                                intervals = "${baseDir}/assets/panels/hg38/Immundef_eoIBD_Exom_2022_v1_genes.interval_list"
			}
			'immundef_komplett_exom_2022' {
				list = "${baseDir}/assets/panels/gene_lists/Immundef_komplett_Exom_2022_v1_genes.txt"
                                description = "Immundef_komplett_Exom_2022_v1_genes"
                                bed = "${baseDir}/assets/panels/hg38/Immundef_komplett_Exom_2022_v1_genes.bed"
                                intervals = "${baseDir}/assets/panels/hg38/Immundef_komplett_Exom_2022_v1_genes.interval_list"
                        }
			'immundef_hgg_exom_2022' {
				list = "${baseDir}/assets/panels/gene_lists/Immundef_HGG_Exom_2022_v1_genes.txt"
                                description = "Immundef_HGG_Exom_2022_v1_genes"
                                bed = "${baseDir}/assets/panels/hg38/Immundef_HGG_Exom_2022_v1_genes.bed"
                                intervals = "${baseDir}/assets/panels/hg38/Immundef_HGG_Exom_2022_v1_genes.interval_list"
			}
			'cardio_arvc_2022' {
				list = "${baseDir}/assets/panels/gene_lists/Kardio_ARVC_Exom_2022_v1_komplett.txt"
				description = "Kardio_ARVC_Exom_2022_v1_komplett"
				bed = "${baseDir}/assets/panels/hg38/Kardio_ARVC_Exom_2022_v1_komplett.bed"	
				intervals = "${baseDir}/assets/panels/hg38/Kardio_ARVC_Exom_2022_v1_komplett.interval_list"

			}
			'cardio_dcm_2022' {
				list = "${baseDir}/assets/panels/gene_lists/Kardio_DCM_Exom_2022_v2_komplett.txt"
				description = "Kardio_DCM_Exom_2022_v2_komplett"
				bed = "${baseDir}/assets/panels/hg38/Kardio_DCM_Exom_2022_v2_komplett.bed"
				intervals = "${baseDir}/assets/panels/hg38/Kardio_DCM_Exom_2022_v2_komplett.interval_list"
			}
			'cardio_hcm_2022' {
				list = "${baseDir}/assets/panels/gene_lists/Kardio_HCM_Exom_2022_v2_komplett.txt"
				description = "Kardio_HCM_Exom_2022_v2_komplett"
				bed = "${baseDir}/assets/panels/hg38/Kardio_HCM_Exom_2022_v2_komplett.bed"
				intervals = "${baseDir}/assets/panels/hg38/Kardio_HCM_Exom_2022_v2_komplett.interval_list"
			}
		         'breast_cancer' {
                		 list = "${baseDir}/assets/panels/gene_lists/breast_cancer.txt"
		                 description = "Gene Brustkrebs"
                		 bed = "${baseDir}/assets/panels/hg38/breast_cancer.hg38.bed"
		                 intervals = "${baseDir}/assets/panels/hg38/breast_cancer.hg38.interval_list"
		         }
		         'Liver' {
                		 list = "${baseDir}/assets/panels/gene_lists/Gene_Lebererkankung.txt"
		                 description = "Gene Lebererkrankung"
                		 bed = "${baseDir}/assets/panels/hg38/Gene_Lebererkankung.hg38.bed"
		                 intervals = "${baseDir}/assets/panels/hg38/Gene_Lebererkrankung.hg38.interval_list"

		         }
		}
		kits {
			'Nextera' {
				targets = "${baseDir}/assets/kits/hg38/nextera/nexterarapidcapture_exome_target_v1.2_hg38.interval_list"
				baits = "${baseDir}/assets/kits/hg38/nextera/nexterarapidcapture_exome_intervals_v1.2_hg38.interval_list"
				bed = "${baseDir}/assets/kits/hg38/nextera/nexterarapidcapture_exome_target_v1.2_hg38.bed"
			}
			'xGen_v2_basic' {
				baits = "${baseDir}/assets/kits/hg38/idt_xgen_v2/xgen-exome-research-panel-probes-v2.interval_list"
				targets = "${baseDir}/assets/kits/hg38/idt_xgen_v2/xgen-exome-research-panel-targets-v2.interval_list"
				bed = "${baseDir}/assets/kits/hg38/idt_xgen_v2/xgen-exome-research-panel-targets-v2.bed"
				missing = "${baseDir}/assets/kits/hg38/idt_xgen_v2/known_missing.txt"
				kill = "${baseDir}/assets/kits/hg38/idt_xgen_v2/kill.txt"
				cnv_panel = "/work_ifs/ikmb_repository/references/dragen/hg38/cnv/xGen_v2/cnv_panel.txt"
			}
			'xGen_v2' {
                                baits = "${baseDir}/assets/kits/hg38/idt_xgen_v2_cardio/xgen-exome-research-panel-cardio-probes-v2.interval_list"
                                targets = "${baseDir}/assets/kits/hg38/idt_xgen_v2_cardio/xgen-exome-research-panel-cardio-targets-v2.interval_list"
                                bed = "${baseDir}/assets/kits/hg38/idt_xgen_v2_cardio/xgen-exome-research-panel-cardio-targets-v2.bed"
                                missing = "${baseDir}/assets/kits/hg38/idt_xgen_v2_cardio/known_missing.txt"
                                kill = "${baseDir}/assets/kits/hg38/idt_xgen_v2_cardio/kill.txt"
                                cnv_panel = "/work_ifs/ikmb_repository/references/dragen/hg38/cnv/xGen_v2/cnv_panel.txt"
                        }
                        'test' {
				baits = "${baseDir}/assets/kits/hg38/test/test-baits.interval_list"
				targets = "${baseDir}/assets/kits/hg38/test/test-targets.interval_list"
				bed = "${baseDir}/assets/kits/hg38/test/test-targets.bed"
			}
	
		}
	}        
        
  }
  
}
