params {

   genomes {

        'hg19' {
                fasta = "/work_ifs/ikmb_repository/references/dragen/hg19/hg19.fa"
		bed = "${baseDir}/assets/kits/hg19/wgs_calling_regions.hg19.bed"
		expansion_catalog = "${baseDir}/assets/expansion_hunter/hg19/variant_catalog.json"
                kits {
                        'Nextera' {
                                targets = "${baseDir}/assets/kits/hg19/nextera/nexterarapidcapture_exome_target_v1.2_hg19.interval_list"
                                baits = "${baseDir}/assets/kits/hg19/nextera/nexterarapidcapture_exome_intervals_v1.2_hg19.interval_list"
				bed = "${baseDir}/assets/kits/hg19/nextera/nexterarapidcapture_exome_target_v1.2_hg19.bed"
                        }
			'xGen_v2' {
				bed = "${baseDir}/assets/kits/hg19/idt_xgen_v2/xgen-exome-research-panel-v2-targets-hg19.bed"
                                targets = "${baseDir}/assets/kits/hg19/idt_xgen_v2/xgen-exome-research-panel-v2-targets-hg19.interval_list"
                                baits = "${baseDir}/assets/kits/hg19/idt_xgen_v2/xgen-exome-research-panel-v2-probes-hg19.interval_list"
                        }
			'Pan_cancer' {
				targets = "${baseDir}/assets/kits/hg19/pan_cancer/xgen-pan-cancer-targets.interval_list"
				baits = "${baseDir}/assets/kits/hg19/pan_cancer/xgen-pan-cancer-probes.interval_list"
				bed = "${baseDir}/assets/kits/hg19/pan_cancer/xgen-pan-cancer-targets.bed"
			}
                }
        }
	'hg38' {
		fasta = "/work_ifs/ikmb_repository/references/dragen/hg38/hg38.fa"		
		bed = "${baseDir}/assets/kits/hg38/wgs_calling_regions.hg38.bed"
		expansion_catalog = "${baseDir}/assets/expansion_hunter/hg38/variant_catalog.json"
		kits {
			'Nextera' {
				targets = "${baseDir}/assets/kits/hg38/nextera/nexterarapidcapture_exome_target_v1.2_hg38.interval_list"
				baits = "${baseDir}/assets/kits/hg38/nextera/nexterarapidcapture_exome_intervals_v1.2_hg38.interval_list"
				bed = "${baseDir}/assets/kits/hg38/nextera/nexterarapidcapture_exome_target_v1.2_hg38.bed"
			}
			'xGen_v2' {
				baits = "${baseDir}/assets/kits/hg38/idt_xgen_v2/xgen-exome-research-panel-probes-v2.interval_list"
				targets = "${baseDir}/assets/kits/hg38/idt_xgen_v2/xgen-exome-research-panel-targets-v2.interval_list"
				bed = "${baseDir}/assets/kits/hg38/idt_xgen_v2/xgen-exome-research-panel-targets-v2.bed"
				missing = "${baseDir}/assets/kits/hg38/idt_xgen_v2/known_missing.txt"
				kill = "${baseDir}/assets/kits/hg38/idt_xgen_v2/kill.txt"
			}
                        'test' {
				baits = "${baseDir}/assets/kits/hg38/test/test-baits.interval_list"
				targets = "${baseDir}/assets/kits/hg38/test/test-targets.interval_list"
				bed = "${baseDir}/assets/kits/hg38/test/test-targets.bed"
			}
	
		}
	}        
        
  }
  
}
